# Python Variables

In [1]:
students_count = 1000

In [3]:
rating = 4.99

In [7]:
is_published = False #bool values always start with capital letter

In [13]:
couse_name = 'Python Programmming'

In [14]:
print(students_count)

1000

In [15]:
# always have descriptive variable names
# always have lower case variable names

# Lists

In [21]:
letter = ['a','b','c']
matrix = [[0,1],[1,2]]
zeros = [0]*5

In [22]:
zeros

[0, 0, 0, 0, 0]

In [24]:
combined = zeros + letter

In [25]:
combined

[0, 0, 0, 0, 0, 'a', 'b', 'c']

In [29]:
number = list(range(20)) #20 not included

In [30]:
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
chars = list('hello world')

In [32]:
chars

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [33]:
len(chars)

11

In [34]:
letters = ['a','b','c','d']
print(letters[-1])

d

In [35]:
letters[0] = 'A'

In [36]:
letters

['A', 'b', 'c', 'd']

In [37]:
letters[0:3]

['A', 'b', 'c']

In [38]:
letters

['A', 'b', 'c', 'd']

In [39]:
letters[:3]

['A', 'b', 'c']

In [40]:
letters[1:]

['b', 'c', 'd']

In [41]:
letters[:]

['A', 'b', 'c', 'd']

In [42]:
letters[::2]

['A', 'c']

In [43]:
numbers = list(range(20))

In [44]:
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
numbers[::2] # got all the even numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
numbers[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# unpacking list

In [49]:
numbers = [1,2,3]
first, second, third = numbers

In [50]:
first = numbers[0]
second = numbers[1]
third = numbers[2]

In [51]:
first

1

In [55]:
number_2 = [1,2,3,4,5,6,7]
first, second, *other = number_2
first

1

In [56]:
second

2

In [57]:
other

[3, 4, 5, 6, 7]

In [58]:
number_2 = [1,2,3,4,5,6,7]
first, *other, last = number_2
last

7

# looping over list

In [62]:
letters = ['a','b','c']
for letter in enumerate(letters):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')

In [67]:
# to unpack the tuple

In [68]:
letters = ['a','b','c']
items = [0,'a']
index, letter = items
for index, letter in enumerate(letters):
    print(index, letter)

0 a
1 b
2 c

# add or delete

In [1]:
letters = ['a','b','c']

In [2]:
letters.append('d')
letters

['a', 'b', 'c', 'd']

In [3]:

letters.insert(0,'-')
print(letters)

['-', 'a', 'b', 'c', 'd']

# delete

In [7]:
letters.pop(0)
letters

['c', 'd']

In [5]:
letters.remove('b')

In [6]:
letters

['a', 'c', 'd']

In [10]:
del letters[0:3] #used for range of letters

In [9]:
letters

[]

# finding the index of a list

In [15]:
letters = ['a','b','c']
if 'd' in letters:
    print(letters.index('d')) # for error avoidance

In [16]:
letters = ['a','b','c', 'd']
if 'd' in letters:
    print(letters.index('d'))

3

# strings

In [17]:
course = 'Python Programming'
message = """

hi, this is shadman


"""

In [18]:
len(course)

18

In [19]:
course[0]

'P'

In [21]:
course[-1] # first character from the end of string

'g'

In [23]:
course[0:3]

'Pyt'

In [25]:
course[2:6]

'thon'

In [27]:
course[0:] # exactly the same string

'Python Programming'

In [29]:
course[:3]

'Pyt'

In [31]:
course[:]

'Python Programming'

# escape sequences

In [34]:
course = 'Python "programming" is amazing'

In [35]:
course

'Python "programming" is amazing'

In [36]:
course = "python 'programming' is amazing"

In [37]:
course

"python 'programming' is amazing"

In [38]:
course = "Python \"programming"

In [39]:
course

'Python "programming'

In [60]:
# \"
# \'
# \\ # these are escape sequencing
# \n

In [61]:
course = "Python programming"

In [62]:
course

'Python programming'

# formatted string

In [63]:
first = 'Shadman'
last = 'Ansari'

In [64]:
full = first + " " + last

In [65]:
full

'Shadman Ansari'

In [66]:
print(f'first name is: {first} and last name: {last}')

first name is: Shadman and last name: Ansari

In [69]:
course.upper() #course is object, #after . it is method
course

'Python programming'

In [70]:
course.upper()

'PYTHON PROGRAMMING'

In [72]:
course # original string is not affected

'Python programming'

In [73]:
course.lower()

'python programming'

In [74]:
course.title()

'Python Programming'

In [77]:
course.isupper()

False

In [78]:
couse = '     python programming'

In [80]:
course.strip() # removes empty space from left and right

'Python programming'

In [84]:
course.rstrip()

'Python programming'

In [88]:
course.find('pro')

7

In [89]:
course.find('Pro') # since Pro is not available in course, therefore we get output -1 indicating that Pro is not present

-1

In [90]:
course.replace('p', 'j')

'Python jrogramming'

In [94]:
print('pro' in course)

True

In [95]:
'swift' not in course

True

# Sets

In [106]:
numbers = [1,1,2,3,4]
first = set(numbers)

In [107]:
print(uniques) # 1 not repeated

{1, 2, 3, 4}

In [108]:
#{} braces to define set

In [109]:
second = {1,4}

In [110]:
second

{1, 4}

In [111]:
second.add(5)
second

{1, 4, 5}

In [113]:
first | second # we have obtained union of both sets

{1, 2, 3, 4, 5}

In [115]:
first & second # takes intersections

{1, 4}

In [116]:
first - second

{2, 3}

In [118]:
first ^ second # it returns union - intersection

{2, 3, 5}

In [120]:
if 1 in first:
    print('yes')

yes

In [121]:
# sets are not accessible using index

# Dictionaries

In [145]:
post = {'user_id':
        209, 'message':'d1 g4', 'language': 'english'}

In [146]:
post

{'user_id': 209, 'message': 'd1 g4', 'language': 'english'}

# if we need to access dictionaries

In [147]:
try:
    print(post['location'])
except KeyError:
    print('the location is not present in post')

the location is not present in post

In [148]:
help(post.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [149]:
loc = post.get('location', None) # None is used if the data you are searching for is not present in dictionary

In [150]:
for key in post.keys():
    value = post[key]
    print(key, '=', value)

user_id = 209
message = d1 g4
language = english

In [151]:
post.pop('message') # deleted mesage from the dictionary

'd1 g4'

In [152]:
post

{'user_id': 209, 'language': 'english'}